certifi==2023.7.22
chardet==3.0.4
idna==2.6
pbr==3.1.1
PyYAML==5.4
requests==2.20.0
six==1.11.0
slacker==0.9.65
slacksocket==0.9.1
slackclient==1.2.0
stevedore==1.28.0
urllib3==1.26.5
virtualenv==15.1.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
websocket-client==0.47.0
