certifi==2018.1.18
chardet==3.0.4
idna==2.6
pbr==3.1.1
PyYAML==5.1
requests==2.18.4
six==1.11.0
slacker==0.9.65
slacksocket==0.9.1
slackclient==1.2.0
stevedore==1.28.0
urllib3==1.24.2
virtualenv==15.1.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
websocket-client==0.47.0
